<html layout:decorate="~{layouts/sidebarLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>コード分類管理</title>
</head>
<body>
<div layout:fragment="sidebar">
    <div th:replace="~{layouts/sidebar :: sidebar ('system', 'codeCategory')}"></div>
</div>
<section layout:fragment="content-header">
    <h1 th:text="${text}" th:with="text=${codeCategoryForm.isNew()} ? 'コード分類登録' : 'コード分類編集'">コード分類登録</h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/system/code_categories/find(page=1)}">コード分類検索</a></li>
        <li th:text="${text}" th:with="text=${codeCategoryForm.isNew()} ? 'コード分類登録' : 'コード分類編集'">コード分類登録</li>
    </ol>
</section>
<section layout:fragment="content">
    <div class="box">
        <form class="form-horizontal" enctype="multipart/form-data" id="form1"
              method="post"
              th:action="${action}" th:object="${codeCategoryForm}" th:with="action=${codeCategoryForm.isNew()} ? @{/system/code_categories/new} : @{/system/code_categories/edit/{id}(id=*{id})}">
            <div class="box-body">
                <input th:replace="~{fragments/inputField :: input ('text', 'コード分類キー', 'categoryKey')}"/>
                <input th:replace="~{fragments/inputField :: input ('text', 'コード分類名', 'categoryName')}"/>
            </div>
            <div class="box-footer">
                <button class="btn btn-default bg-purple" th:text="${text}"
                        th:with="text=${codeCategoryForm.isNew()} ? '登録' : '保存'" type="submit">
                    Add Code
                </button>
            </div>
        </form>
    </div>
</section>
</body>
<div layout:fragment="scripts">
    <script th:replace="~{fragments/validationScript :: script}"/>
    <script src="../public/static/js/system/codeCategories.js" th:src="@{/static/js/system/codeCategories.js}"
            type="text/javascript"></script>
</div>
</html>
