<html layout:decorate="~{layouts/sidebarLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>メールテンプレートマスタ</title>
</head>
<body>
<div layout:fragment="sidebar">
    <div th:replace="~{layouts/sidebar :: sidebar ('system', 'mailTemplate')}"></div>
</div>
<section layout:fragment="content-header">
    <h1 th:text="${text}" th:with="text=${mailTemplateForm.isNew()} ? 'メールテンプレート登録' : 'メールテンプレート編集'">メールテンプレート登録</h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/system/mailtemplates/find(page=1)}">メールテンプレート検索</a></li>
        <li th:text="${text}" th:with="text=${mailTemplateForm.isNew()} ? 'メールテンプレート登録' : 'メールテンプレート編集'">メールテンプレート登録
        </li>
    </ol>
</section>
<section layout:fragment="content">
    <div class="box">
        <form class="form-horizontal" enctype="multipart/form-data" id="form1"
              method="post"
              th:action="${action}" th:object="${mailTemplateForm}" th:with="action=${mailTemplateForm.isNew()} ? @{/system/mailtemplates/new} : @{/system/mailtemplates/edit/{id}(id=*{id})}">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">テンプレートキー</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="templateKey" th:readonly="${not mailTemplateForm.isNew()}"
                               th:value="*{templateKey}" type="text"/>
                    </div>
                </div>
                <input th:replace="~{fragments/inputField :: input ('text', 'タイトル', 'subject')}"/>
                <input th:replace="~{fragments/textarea :: textarea ('本文', 'templateBody', 12)}"/>
            </div>
            <div class="box-footer">
                <button class="btn btn-default bg-purple" th:text="${text}"
                        th:with="text=${mailTemplateForm.isNew()} ? '登録' : '保存'" type="submit">
                    Add MailTemplate
                </button>
            </div>
        </form>
    </div>
</section>
</body>
<div layout:fragment="scripts">
    <script th:replace="~{fragments/validationScript :: script}"/>
    <script src="../public/static/js/system/mailtemplates.js" th:src="@{/static/js/system/mailtemplates.js}"
            type="text/javascript"></script>
</div>
</html>
